.workout {
  padding: 5px 7px;
  border-radius: 6px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: rgba(255, 255, 255, 0.8);
}

.workout__name {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  color: var(--purple-0);
  font-weight: 700;
  font-size: var(--font-xs);
}

.workout__name > div {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  flex-grow: 1;
}

.workout__name__icon {
  font-size: 20px;
  cursor: pointer;
}

.workout__exercise {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.workout__footer {
  text-align: right;
  color: #a0a8b1;
}

.workout__footer__icon {
  cursor: pointer;
}
